.adverb-return-back a, .adverb-return-back i {
    color: #4B6858;
}

.adverb-return-back i {
    margin-right: 8px;
}

.adverb-return-back {
    display: flex;
    flex-direction: column;
}

.adverb-return-back a {
    font-family: 'FiraGo Medium';
    font-size: 14px;
    line-height: 16px;
    margin: auto;
}

.adverb-content {
    padding-top: 59px;
}

.adverb-choose-fields {
    padding-bottom: 41px;
    border-bottom: 2px solid #F8F7F2;
    margin-bottom: 44px;
}

.exercises-grey-box {
    background-color: #F6F7F7;
    border-radius: 20px;
    height: 172px;
    margin-bottom: 16px;
}

.exercises-adverb-item a i {
    color: white;
    font-size: 12px;
}

.exercises-adverb-item a {
    background-color: #4B6858;
    border-radius: 50%;
    padding: 10px 12px;
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
}

.exercises-adverb-item {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.exercises-adverb-item span {
    font-family: 'FiraGo Book';
    font-size: 12px;
    line-height: 18px;
    color: #707070;
    align-self: center;
}

.adverb-exercises-content {
    width: 18%;
    height: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: 44px;
    display: grid;
    height: 784px;
    overflow-y: scroll;
}

.adverb-fields {
    height: 100%;
    padding: 0 44px 44px;
}

.adverb-fields-description {
    display: flex;
    flex-direction: column;
}

.adverb-fields-text {
    font-family: 'FiraGo Light';
    font-size: 14px;
    line-height: 21px;
    color: #707070;
    padding-bottom: 16px;
}

.adverb-fields-title {
    font-family: 'FiraGo Bold';
    font-size: 28px;
    line-height: 33.6px;
    color: #333333;
    font-feature-settings: 'case' on;
}

.start-exercises button, .start-exercises button i {
    color: white;
    background-color: transparent;
}

.start-exercises button {
    font-family: 'FiraGo Book';
    font-size: 14px;
    line-height: 21px;
    background-color: #4B6858;
    border-radius: 16px;
    padding: 24px 38px;
}

.start-exercises button i {
    font-size: 14px;
    margin-right: 16px;
}

.adverb-row {
    display: flex;
    justify-content: space-between;
}

.adverb-row .video-content img {
    float: right;
}

.adverb-row .adv-row-first {
    width: 69%;
}

.subt-read {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.adverb-main-text p {
    font-size: 14px;
    margin-bottom: 20px;
    letter-spacing: 0.2px;
    color: #707070;
    align-self: stretch;
    font-weight: normal;
    line-height: 23.8px;
}
.video-content {
    margin-bottom: 24.5px;
    height: 150.5px;
}

.adverb-first-sec-all {
    margin-bottom: 40px;
}

.subtitle {
    font-style: normal;
    font-family: 'FiraGo';
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #333333;
    align-self: center;
}

.subt-read button {
    font-family: 'FiraGo';
    font-size: 12px;
    line-height: 18px;
    padding: 12px 20px;
    background: #FFF6F3;
    border-radius: 10px;
    color: #FB5012;
}
.subt-read button i {
    font-size: 14px;
    padding-right: 10px;
    color: #FB5012;
}