/* navbar style  */

.homepage-navbar-collapse {
    flex-grow: 0;
}

.header {
    background-image: url('../../images/homepage/header-background.svg');
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-nav {
    padding-top: 25px;
}

.navbar-brand {
    padding-top: 1.95rem;
}

.navbar-light .navbar-nav .nav-link {
    font-family: FiraGO Book;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    margin: 0px 20px;
}

a.nav-link.active {
    color: #333333;
    font-weight: 800;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #333333;
    font-family: 'FiraGo ExtraBold';
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #333333;
}

a.nav-link:hover:after {
    content: "";
    background: #00CC6F;
    height: 5px;
    width: 10px;
    display: block;
    margin: 4px auto 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

a.nav-link.active:after {
    content: "";
    background: #00CC6F;
    height: 5px;
    width: 10px;
    display: block;
    margin: 4px auto 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar-icons {
    display: flex;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
}

.login {
    display: -webkit-inline-box;
}

/* navbar style end */

/* header content */

.header-content-text {
    font-family: FiraGO;
    font-size: 40px;
    line-height: 48px;
    font-feature-settings: 'case' on;
    color: #333333;
}

span.header-content-text-item {
    font-family: FiraGo ExtraBold;
    font-size: 40px;
    line-height: 48px;
    text-align: left;
}

.header-content-text-content {
    font-family: FiraGo Book;
    font-size: 14px;
    width: 331px;
    margin: 32px 0 40px;
    line-height: 26px;
}

a.button-video.see-video {
    display: block;
}

.button-video.see-video:hover {
    background-color: #00CC6F;
    box-shadow: 5px 5px 0px #00B261;
    /* transition: all .1s ease-in-out; */
    position: relative;
    left: -1px;
    top: -1px;
}

.button-video.see-video:focus {
    background-color: #00B361;
    box-shadow: none;
}

/* auth */

.vertical-middle {
    margin: auto 0;
}

.header-auth {
    background-image: url('../../images/homepage/auth-bg.svg');
    height: 716.6px;
    width: 735.6px;
    padding: 9px 0 0 118px;
    margin-top: 55px;
    background-position: center;
    background-size: cover;
}

.registration-form {
    width: 504px;
    /* height: 568px; */
    height: 602px;
    background-color: white;
    border: 3px solid #F5F5F5;
    box-sizing: border-box;
    border-radius: 44px;
    margin-top: 40px;
}

.registration-header-title {
    text-align: center;
    padding: 72px 0 44px;
    font-family: FiraGo Medium;
    color: #333333;
    font-size: 28px;
    line-height: 34px;
    font-feature-settings: 'case' on;
}

.auth-button:hover {
    background-color: #00CC6F;
    box-shadow: 6px 6px 0px #00B261;
    position: relative;
    left: -2px;
    top: -2px;
}

.auth-button:focus {
    background-color: #00B361;
    box-shadow: none;
}

.disabled {
    background-color: #80E5B7;
    cursor: default;
}

.disabled:hover {
    background-color: #80E5B7;
    box-shadow: none;
}

.auth-path-registration:hover {
    color: #333;
    text-decoration: underline;
}

.auth-path-registration {
    text-align: center;
    margin: 0 auto 56px;
}

.auth-path-registration a {
    font-family: FiraGo Medium;
    font-size: 14px;
    color: #333333;
    line-height: 14px;
}

/* end auth */


#mouse-icon{
    width: 150px;
    margin: -30px auto;
}
/* header content end */

/* about project */

.section-about-project {
    margin: 107px auto 0;
}

.section-about-project h3 {
    text-align: center;
    font-family: FiraGO Medium;
    font-size: 36px;
    line-height: 36px;
    font-feature-settings: 'case' on;
    color: #333333;
    margin-bottom: 40px;
}

.bold-black {
    font-family: FiraGo ExtraBold;
}

.section-about-project p {
    text-align: center;
    font-family: FiraGo Book;
    font-size: 16px;
    color: #333333;
    line-height: 32px;
}

.about-project-button {
    display: block;
    width: 147px;
    height: 64px;
    border-radius: 20px;
    color: #ffffff;
    background-color: #00CC6F;
    text-align: center;
    margin: 48px auto 0;
    font-family: FiraGo Medium;
    font-size: 16px;
    line-height: 16px;
}

.about-project-button:hover {
    background-color: #00CC6F;
    box-shadow: 4px 4px 0px #00B261;
    position: relative;
    left: -1px;
    top: -1px;
}

.about-project-button:focus {
    background-color: #00B361;
    box-shadow: none;
}

.about-project-arrow-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}

/* end about project */

/* grammar content */

.Noun-content .grammar-images img {
    width: 655px;
    height: 555px;
}

.adjective-content .grammar-images img {
    width: 624px;
    height: 555px;
    margin-left: 65px;
}

.verb-content .grammar-images img {
    width: 657px;
    height: 626px;
}

.img-adjective-small, .img-verb-small, .img-noun-small {
    display: none;
}

.Noun-content {
    margin: 120px auto 150px;
}

.verb-content {
    margin: 79px auto 155px;
}

.verb-content .grammar-content h3 {
    margin: 180px 0 36px;
}

.adjective-content .grammar-content {
    padding-left: 70px;
}

.Noun-content .grammar-content h3 {
    margin: 125px 0 36px;
}

.grammar-content h3 {
    font-family: 'FiraGo Book';
    font-size: 36px;
    line-height: 36px;
    color: #333333;
    font-feature-settings: 'case' on;
    margin: 140px 0 36px;
}

.grammar-content h3 span {
    font-family: 'FiraGo ExtraBold';
}

.grammar-content p {
    font-family: 'FiraGo Book';
    font-size: 16px;
    color: #333333;
    line-height: 32px;
    margin-bottom: 36px;
}

.grammar-content-button:hover {
    border-color: #00CC6F;
    color: #00C851;
}

.grammar-content-arrow-icon-grey {
    display: none;
}

.grammar-disabled .grammar-content-arrow-icon-grey .about-disabled .about-project-arrow-icon-grey {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}

.grammar-content-button:hover .grammar-content-arrow-icon-black, .grammar-content-button:focus .grammar-content-arrow-icon-black {
    display: none;
}

.grammar-content-button:hover .grammar-content-arrow-icon-green, .grammar-content-button:focus .grammar-content-arrow-icon-green {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}

.grammar-disabled:hover .grammar-content-arrow-icon-green, .grammar-disabled:focus .grammar-content-arrow-icon-green {
    display: none;
}

.grammar-disabled .grammar-content-arrow-icon-black {
    display: none;
}

.grammar-disabled:hover .grammar-content-arrow-icon-green, .grammar-disabled:focus .grammar-content-arrow-icon-green {
    display: none;
}

.grammar-content-button:focus {
    border-color: #00B361;
    color: #00B361;
    box-shadow: none;
    background-color: #F2FCF8;
}

.grammar-content-arrow-icon-green, .about-project-arrow-icon-green, .about-project-arrow-icon-grey {
    display: none;
}

.for-d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.m-auto {
    margin: 0 auto;
}

/* end grammar content */

/* Instruction-content */

.instruction-content, .instruction-content-item {
    margin: 0 auto;
}

.instruction-content-item h3 {
    font-family: 'FiraGo Book';
    font-size: 36px;
    line-height: 48px;
    color: #333333;
    font-feature-settings: 'case' on;
    text-align: center;
}

.instruction-content-item h3 span {
    font-family: 'FiraGo ExtraBold';
}

.instruction-bg {
    background-image: url('../../images/homepage/instruction-bg.svg');
    background-position: center;
    background-size: cover;
    width: 1330px;
    height: 491px;
    margin: -30px auto;
}

.instruction-video {
    margin: 117px auto 0;
    z-index: 1;
}

.instruction-video:after {
    content: '';
    display: block;
    position: relative;
    bottom: 55px;
    width: 864px;
    height: 40px;
    background: #131515;
    filter: blur(74px);
    border-radius: 27.5px;
    margin: 0 auto;
}

.instruction-video .video-image {
    width: 902px;
    height: 383px;
    margin: 0 auto;
}

.instruction-cont {
    position: relative;
}

/* dsdsd */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(19, 21, 21, 0.6);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 95px auto;
    padding: 20px;
    background: transparent;
    z-index: 9999;
    border-radius: 5px;
    width: 80%;
    height: 80%;
    border-radius: 15%;
    position: relative;
    /* transition: all 5s ease-in-out; */
}

#popup2 {
    z-index: 9;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: -20px;
    right: -20px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    background-color: grey;
    text-align: center;
    border-radius: 15px;
    width: 46.67px;
    height: 46.67px;
    color: white;
}

.popup .close:hover {
    color: grey;
    background-color: white;
}

.popup iframe {
    max-height: 100%;
    overflow: auto;
}

.popup2 {
    position: initial;
    margin: 240px auto;
}

.overlay2 {
    z-index: 999;
    background: rgba(19, 21, 21, 0.8);
    backdrop-filter: blur(24px);
}

.overlay2 .close {
    top: 60px;
    right: 52px;
}

.collapse2 {
    text-align: center;
}

.collapse2 ul li a, .collapse2 ul li .active {
    color: white;
}

.collapse2 ul li.nav-item {
    height: 50px;
}

.collapse2 ul li a {
    font-family: 'FiraGo Light';
    font-size: 24px;
    line-height: 34px;
}

.overlay2 .active {
    font-family: 'FiraGo ExtraBold';
    font-size: 24px;
    line-height: 34px;
}

.popup .open {
    position: absolute;
    top: 60px;
    left: 52px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    /* background-color: grey; */
    text-align: center;
    border-radius: 15px;
    width: 276px;
    height: 52px;
    color: white;
}

.conf2 {
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateY(100%);
}

button:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}

/* popup */

.instruction-cont.video-image {
    background-image: url('../../images/homepage/video-image.png');
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instruction-cont-item {
    z-index: 9;
}

.instruction-cont-item p {
    font-family: 'FiraGo Book';
    font-size: 18px;
    line-height: 22px;
    transform: translateY(25%);
    color: white;
    margin-left: 15px;
    padding-top: 2px;
}

.instruction-cont-item span {
    font-family: 'FiraGo ExtraBold';
    font-size: 18px;
    line-height: 22px;
}

.play-video {
    width: 86px;
    height: 86px;
    cursor: pointer;
}

/* End Instruction-content */

/* footer content */

.footer-bg-fill {
    background-color: #131515;
    margin: 38px 0 0;
}

.footer-logo-content {
    margin: 80px 0 52px;
}

.footer-logo-content-item {
    font-family: 'FiraGo Book';
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    text-decoration-line: underline;
    margin-left: 62px;
    padding-top: 10px;
}
.footer-logo-content-item a {
    text-decoration: none;
    color: #ffffff;
}

.footer-logo-content-item a:hover {
    color: #00C851;
}

.footer-text-item {
    width: 560px;
    margin-bottom: 48px;
    font-family: 'FiraGo Book';
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    opacity: 0.7;
}

.footer-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.footer-user-icon {
    width: 172px;
    height: 48px;
    background-color: #333333;
    border-radius: 16px;
    font-family: 'FiraGo';
    font-size: 12px;
    line-height: 10px;
    color: #ffffff;
    margin-left: 16px;
}

.footer-user-icon:hover, .footer-facebook-icon:hover {
    background-color: #707070;
}

.footer-user-icon img {
    display: inline-block;
    vertical-align: middle;
    margin: 12px 10px 15px;
}

.footer-facebook-icon {
    width: 172px;
    height: 48px;
    background-color: #333333;
    border-radius: 16px;
    font-family: 'FiraGo';
    font-size: 12px;
    line-height: 10px;
    color: #ffffff;
    margin-left: 16px;
}

.footer-facebook-icon img {
    display: inline-block;
    vertical-align: middle;
    margin: 12px 10px 15px;
}

.Education-logo {
    display: flex;
    justify-content: space-between;
    width: 195px;
    margin: 50px 0 60px;
}

.footer-copyright {
    margin-top: 60px;
}

.footer-copyright span {
    display: block;
    text-align: right;
    font-family: 'FiraGo';
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    opacity: 0.7;
}

/* end footer content */

.appear {
    display: none;
}

.appear2 {
    display: none;
}

.appear3 {
    display: none;
}