.privacy-policy {
    background-color: #4B6858;
    height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.privacy-policy-content {
    margin: 0 0 66px 0;
}

.privacy-policy-content-item {
    font-family: 'FiraGo Book';
    font-size: 56px;
    line-height: 67.2px;
    color: #ffffff;
    font-feature-settings: 'case' on;
}

.privacy-policy-content span {
    font-family: 'FiraGo ExtraBold';
}

.privacy-policy-more-title {
    color: #333333;
    font-family: 'FiraGo ExtraBold';
    font-size: 24px;
    line-height: 36px;
}

.title1 {
    margin: 100px 0 52px;
}

.title2 {
    margin: 140px 0 52px;
}

.privacy-policy-more-text, .privacy-policy-more-text2 {
    color: #333333;
    font-family: 'FiraGo Book';
    font-size: 20px;
    line-height: 40px;
}

.privacy-policy-more-text2 {
    margin-top: 52px;
}

section.privacy-policy-more {
    margin-bottom: 100px;
}

.footer-logo-content-item a {
    text-decoration: none;
    color: #ffffff;
}

.footer-logo-content-item a:hover {
    color: #00C851;
}

@media only screen and (max-width: 991.98px) {
    .privacy-policy-content-item {
        font-size: 36px;
        line-height: 43.2px;
    }    
    .privacy-policy-more-title {
        font-size: 18px;
        line-height: 27px;
    }
    .privacy-policy-more-text, .privacy-policy-more-text2 {
        font-size: 16px;
        line-height: 28.8px;
    }
    .title1 {
        margin: 80px 0 40px;
    }
    
    .title2 {
        margin: 80px 0 40px;
    }
    .privacy-policy-more-text2 {
        margin-top: 40px;
    }
    
    section.privacy-policy-more {
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 767.98px) {
    .privacy-policy-content-item {
        font-size: 38px;
        line-height: 43.2px;
    }
}

@media only screen and (max-width: 500.98px) {
    .privacy-policy-content-item {
        font-size: 25px;
        line-height: 30px;
    }    
    .privacy-policy-more-title {
        font-size: 16px;
        line-height: 24px;
    }
    .privacy-policy-more-text, .privacy-policy-more-text2 {
        font-size: 14px;
        line-height: 22.4px;
    }
    .title1 {
        margin: 56px 0 31px;
    }
    
    .title2 {
        margin: 52px 0 31px;
    }
    .privacy-policy-more-text2 {
        margin-top: 52px;
    }
    
    section.privacy-policy-more {
        margin-bottom: 76px;
    }
}


@media only screen and (max-width: 320.98px) {
    .privacy-policy-content-item {
        font-size: 20px;
        line-height: 24px;
    }
    .title1 {
        margin: 74px 0 31px;
    }
    .privacy-policy-more-text2 {
        margin-top: 35px;
    }
    section.privacy-policy-more {
        margin-bottom: 74px;
    }
}