.statistics-bg {
    margin-right: 40px;
}
.student-added-inschools2 {
    height: 52vh;
    overflow-y: scroll;
}
.student-added-inschools2::-webkit-scrollbar {
    width: 1px;
    margin-left: 2px;
}
/* Track */
.student-added-inschools2::-webkit-scrollbar-track {
    background: white;
}
/* Handle */
.student-added-inschools2::-webkit-scrollbar-thumb {
    background: rgba(112, 112, 112, .6);
}
/* Handle on hover */
.student-added-inschools2::-webkit-scrollbar-thumb:hover {
    background: transparent;
}


.statistics-personals {
    width: 98%;
}