.add-student-now-v2 {
    font-family: 'FiraGO Medium';
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 23px 37.5px;
    background: #4B6858;
    border-radius: 12px;
    margin-left: auto;
}

.add-student-now-v2 i {
    margin-right: 8px;
}

.student-school-fields-title i {
    cursor: pointer;
}

.student-school-fields2 {
    display: flex;
}

.student-added-inschools-parent {
    margin-top: 44px;
}

.student-added-student {
    font-family: 'FiraGO';
    font-size: 14px;
    line-height: 21px;
    color: #707070;
}

.student-added-inschools {
    margin-top: 40px;
}

.student-added-inschools-childs {
    order: 0;
    flex-grow: 0;
    padding: 24px 0px;
    display: flex;
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(103, 115, 135, 0.1);
}

.student-added-names {
    font-family: 'FiraGO Medium';
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.student-added-emails {
    font-family: 'FiraGO';
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 350px;
}

.student-added-profiles {
    font-family: 'FiraGO';
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #4B6858;
    margin-left: auto;
    cursor: pointer;
}

.student-added-profiles i {
    margin-left: 10px;
}

.input-popup-bg75 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 44px;
    background-color: white;
    padding-left: 80px;
    padding-right: 80px;
}
.popup.popup751 {
    height: 568px;
}
.popup751 {
    width: 63%;
}

.popup75-add-students {
    padding-top: 9.5%;
    font-family: "FiraGO";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36.4px;
    align-items: center;
    letter-spacing: 0.2px;
    font-feature-settings: "case" on;
    color: #333333;
    margin-bottom: 24px;
}

.student-emails-send {
    margin-top: 22px;
}

.popup75-student-p {
    font-family: "FiraGO";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #333333;
}

.student-emails-input {
    padding: 24px;
    background: #ffffff;
    border: 2px solid #e7e8e8;
    box-sizing: border-box;
    border-radius: 20px;
    height: 180px;
}

.student-emails-input input {
    width: 100%;
    height: auto;
}

.student-school-fields2 .pop-b-p {
    margin-left: auto;
}

.student-add-email-submit {
    background: #00cc6f;
    border-radius: 20px;
    font-family: "FiraGO Bold";
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    padding: 30px 0;
    width: 100%;
    color: #ffffff;
    display: block;
    margin-top: 30px;
}