@media (min-width: 1400px) {
    .container-two {
        max-width: 1132px;
    }
    .container-three {
        max-width: 1200px;
    }
}

@media only screen and (max-width: 1439.98px) {
    .header {
        height: inherit;
    }
    .header-auth {
        width: 100%;
        background-size: 100% 100%;
        padding: 9px 0 0 74px;
    }
    .navbar-light .navbar-nav .nav-link {
        margin: 0px 5px;
    }
    .registration-form {
        width: 82%;
    }
    .auth-input-email, .auth-input-password, .auth-button {
        width: 77%;
    }
    .auth-input-email input[type=email], .auth-input-password input[type=password] {
        width: 72%;
    }
    .mouse-icon img {
        margin: 0 auto;
        padding: 15px 0 30px;
    }
    /* .container-three {
        max-width: 1132px;
    } */
    .Noun-content .grammar-images img {
        width: 655px;
        height: 555px;
    }
    .adjective-content .grammar-images img {
        width: 589px;
        height: 555px;
        margin-left: 60px;
    }
    .verb-content .grammar-images img {
        width: 637px;
        height: 611px;
    }
    .Noun-content {
        margin: 120px auto 110px;
    }
    .verb-content {
        margin: 70px auto 155px;
    }
    .verb-content .grammar-content h3 {
        margin: 175px 0 36px;
    }
    .adjective-content .grammar-content {
        padding-left: 15px;
    }
    .Noun-content .grammar-content h3 {
        margin: 100px 0 36px;
    }
    .grammar-content h3 {
        margin: 120px 0 36px;
    }
    .instruction-content-item {
        width: 60%;
    }
    .instruction-video::after {
        width: 100%;
    }
    .instruction-video .video-image {
        width: 96%;
    }
    .instruction-bg {
        width: 1294px;
        height: 478px;
        margin: -38px auto -17px;
    }
    /* auth registration form */
    .popup-auth-input-email, .popup-auth-input-password, .popup-auth-button, .popup-error-p, .popup-recover-password {
        width: 446px;
    }
    .auth-registration-form .popup-error-p {
        margin: 0 auto;
    }
    .popup-recover-password {
        padding: 15px 31px 58px 0;
        margin: 0 auto;
        float: none;
    }
    .popup-auth-button {
        margin: 0 auto 48px;
    }
    /* new account form */
    .new-account-title {
        margin: 81px auto 64px;
        width: 446px;
    }
}

@media only screen and (max-width: 1320.98px) {
    .instruction-bg {
        width: 100%;
        background-size: 100% 100%;
    }
    .grammar-images {
        width: 52%;
    }
    .Noun-content .grammar-images img, .adjective-content .grammar-images img, .verb-content .grammar-images img {
        width: 100%;
        height: inherit;
        margin-left: 0;
    }
    .grammar-content h3 {
        margin: 80px 0 20px;
    }
    .grammar-content {
        width: 48%;
    }
    .grammar-content p {
        margin-bottom: 36px;
    }
    .grammar-content-button {
        width: 40%;
        height: 68px;
    }
    .Noun-content .grammar-content h3 {
        margin: 70px 0 36px;
    }
    .grammar-content h3 {
        margin: 100px 0 20px;
    }
}

@media only screen and (max-width: 1200.98px) {
    .Noun-content .grammar-content h3 {
        margin: 38px 0 36px;
    }
    .grammar-content h3 {
        margin: 55px 0 20px;
    }
    .verb-content .grammar-content h3 {
        margin: 100px 0 36px;
    }
}

@media only screen and (max-width: 1100.98px) {
    .grammar-images {
        width: 57%;
    }
    .adjective-content .grammar-images {
        width: 55%;
    }
    .grammar-content h3 {
        margin: 40px 0 20px;
    }
    .grammar-content {
        width: 43%;
    }
    .grammar-content p {
        margin-bottom: 36px;
    }
    .grammar-content-button {
        width: 48%;
        height: 68px;
    }
    .Noun-content .grammar-content h3 {
        margin: 45px 0 36px;
    }
    .adjective-content .grammar-content {
        padding-left: 15px;
    }
    .verb-content .grammar-content h3 {
        margin: 100px 0 36px;
    }
    .instruction-video .video-image {
        width: 95%;
        height: 330px;
    }
    .instruction-bg {
        margin: -88px auto -44px;
    }
    .instruction-video {
        margin: 143px auto 0;
    }
    .input-popup-bg {
        background-image: url('../images/sign-in/input-popup-bg2.svg');
        width: 688px;
        height: 765px;
    }
    #popup7 .popup, #popup8 .popup, #popup9 .popup, #popup10 .popup {
        width: 728px;
    }
}

@media only screen and (max-width: 990.98px) {
    span.header-content-text-item, .header-content-text {
        font-size: 30px;
        line-height: 30px;
    }
    .header-auth {
        margin-top: 10px;
        padding: 9px 0 0 74px;
        width: 108%;
        height: inherit;
    }
    .vertical-middle {
        margin: 22% 0 0;
    }
    .registration-header-title {
        padding: 18% 0 8%;
    }
    .auth-path-registration {
        text-align: center;
        margin: 0 auto 12%;
    }
    .auth-button {
        margin: 25px auto 25px;
    }
    .mouse-icon img {
        margin: 0 auto;
        padding: 40px 0 30px;
    }
    .grammar-images, .adjective-content .grammar-images {
        width: 50%;
    }
    .grammar-content h3 {
        margin: 5px 0 10px;
    }
    .grammar-content {
        width: 50%;
    }
    .grammar-content-button {
        width: 62%;
        height: 68px;
    }
    .grammar-content p {
        margin-bottom: 18px;
    }
    .Noun-content .grammar-content h3 {
        margin: 5px 0 10px;
    }
    .adjective-content .grammar-content {
        padding-left: 15px;
    }
    .verb-content .grammar-content h3 {
        margin: 5px 0 10px;
    }
    .Noun-content {
        margin: 120px auto 120px;
    }
    .verb-content {
        margin: 100px auto 155px;
    }
    .instruction-bg {
        margin: -97px auto -73px;
    }
    .instruction-video {
        margin: 9.6rem auto 0;
    }
    .instruction-video .video-image, .instruction-video .video-image-one {
        width: 100%;
        height: 290px;
    }
    .instruction-content-item {
        width: 67%;
    }
    .container-three {
        max-width: 767px;
    }
    .registration-form {
        height: inherit;
    }
    /* auth registration form */
    .registration-form.registration-form-signin {
        display: initial;
        height: 535px;
    }
    #popup7 .popup, #popup8 .popup, #popup9 .popup, #popup10 .popup {
        width: 728px;
        margin: 18% auto 0px;
    }
    .popup-registration-title {
        padding: 0;
        margin: 0 auto 72px;
    }
    /* new pass registration */
    .new-account-title {
        text-align: left;
        margin: 0px 0 58px 58px;
    }
    .about-header-icons3 {
        margin-bottom: 64px;
    }
    /* new account form */
    .new-account-title {
        margin: 81px auto 64px;
        width: 446px;
    }
}

@media only screen and (max-width: 830px) {
    #popup7 .popup .close, #popup8 .popup .close, #popup9 .popup .close, #popup10 .popup .close {
        top: -46px;
        right: 24px;
    }
    .navbar-brand {
        margin-right: 0;
    }
}

@media only screen and (max-width: 767.98px) {
    .hide {
        display: none!important;
    }
    .appear {
        display: initial;
    }
    .appear4 {
        display: none;
    }
    .login {
        display: inherit;
    }
    .for-100 {
        flex: 100%;
        max-width: 100%;
    }
    .header {
        background-image: url('../images/homepage/header-background-ipad.svg');
        width: 100%;
        height: 737px;
    }
    .navbar-light .navbar-toggler {
        color: #333333;
        border-color: transparent;
    }
    .navbar-toggler {
        padding: .25rem 0 .25rem 0.75rem;
    }
    .container-two, .container-three {
        max-width: 688px;
    }
    .for-flex {
        display: flex;
    }
    .grammer-button-2 {
        display: inline-block;
        width: inherit;
        height: 100%;
        margin-left: auto;
        padding: 13px 16px;
    }
    .grammar-content h3 {
        font-size: 32px;
        line-height: 38px;
    }
    .for-100 .for-flex h3 {
        line-height: 38px;
    }
    .header-content {
        text-align: center;
    }
    .header-content-text-content {
        margin: 32px auto 42px;
        width: 366px;
    }
    span.header-content-text-item, .header-content-text {
        font-size: 32px;
        line-height: 44px;
    }
    .section-about-project .about-project-cont {
        font-size: 14px;
    }
    .bold-black {
        font-family: inherit;
    }
    .bold-black2 {
        font-family: FiraGo ExtraBold;
    }
    button.about-project-button {
        display: block;
        padding: 34px 136px;
        width: initial;
        height: initial;
        border: 3px solid #333333;
        background-color: transparent;
        color: #333333;
    }
    .about-project-button {
        display: flex;
    }
    .register-sect .registration-form {
        background-image: url('../images/homepage/auth-bg-ipad.svg');
        background-position: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        margin: 0 auto;
        border: 3px solid #F5F5F5;
        box-sizing: border-box;
        border-radius: 44px;
    }
    .header-content .for-100 .appear .about-project-button {
        border: none;
        background-color: #00CC6F;
        color: white;
        padding: 24px 38px;
    }
    .header-content .for-100 .appear .about-project-button:hover {
        background-color: #00CC6F;
        box-shadow: 6px 6px 0px #00B261;
        position: relative;
        left: -2px;
        top: -2px;
    }
    /*  */
    .about-project-button:hover {
        border-color: #00CC6F;
        color: #00C851;
        background-color: transparent;
        box-shadow: none;
    }
    .about-disabled .about-project-arrow-icon-grey {
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
    }
    .about-project-button:hover .about-project-arrow-icon-black, .about-project-button:focus .about-project-arrow-icon-black {
        display: none;
    }
    .about-project-button:hover .about-project-arrow-icon-green, .about-project-button:focus .about-project-arrow-icon-green {
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
    }
    .about-disabled:hover .about-project-arrow-icon-green, .about-disabled:focus .about-project-arrow-icon-green {
        display: none;
    }
    .about-disabled .about-project-arrow-icon-black {
        display: none;
    }
    .about-disabled:hover .grammar-content-arrow-icon-green, .about-disabled:focus .grammar-content-arrow-icon-green {
        display: none;
    }
    .about-project-button:focus {
        border-color: #00B361;
        color: #00B361;
        box-shadow: none;
        background-color: #F2FCF8;
    }
    .about-project-arrow-icon-green, .about-project-arrow-icon-grey {
        display: none;
    }
    /*  */
    .register-sect .registration-header-title {
        padding-top: 60px;
    }
    .grammar-content {
        margin-top: 56px;
    }
    .Noun-content .grammar-content h3 {
        margin: 0 0 32px;
    }
    .grammar-content h3 {
        margin: 0 0 32px;
    }
    .verb-content .grammar-content h3 {
        margin: 0 0 32px;
    }
    .auth-input-email, .auth-input-password, .auth-button {
        width: 58%;
    }
    .auth-button {
        margin: 48px auto 40px;
    }
    .footer-logo-content {
        display: block;
        margin: 330px 0 0px;
    }
    section.register-sect {
        position: relative;
    }
    .footer-bg-fill {
        margin-top: -259px;
    }
    .verb-content {
        margin: 90px auto 100px;
    }
    .logo-footer img {
        margin: 0 auto;
        margin-bottom: 36px;
    }
    .footer-text-item {
        width: 85%;
        font-size: 14px;
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    .footer-logo-content-item {
        margin-left: 0;
    }
    .footer-logo-content-item {
        margin-bottom: 20px;
    }
    .conf-user {
        display: block;
        text-align: center;
        margin-top: 52px;
        margin-bottom: 52px;
    }
    .footer-buttons {
        margin: 0 auto;
    }
    .footer-icons-texts {
        display: block;
        margin: 52px 0 52px;
    }
    .Education-logo {
        margin: 0 auto;
    }
    .footer-copyright span {
        text-align: center;
    }
    .vertical-middle {
        margin: 95px 0 0;
    }
    .header-content .for-100 .appear .about-project-button {
        margin: 48px auto 74px;
    }
    .instruction-video {
        margin: 0 auto 0;
    }
    .section-about-project {
        margin: 240px auto 0;
    }
    .play-video {
        width: 86px;
        height: 86px;
        position: inherit;
    }
    .video-image-one {
        background-image: url('../images/homepage/small-video-img.svg');
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .popup {
        margin: 22% auto 0;
        width: 95%;
        height: 65%;
        /* transition: all 5s ease-in-out; */
    }
    .popup .close {
        top: -46px;
        right: 24px;
    }
    .overlay2 .close {
        top: 60px;
        right: 52px;
    }
    .instruction-cont-item {
        display: flex;
        align-items: flex-start;
        width: 85%;
        margin-bottom: 54px;
    }
    .instruction-cont-item p {
        z-index: 1;
    }
    .play-video {
        width: 68px;
        height: 68px;
    }
    .instruction-video::after {
        width: 80%;
        height: 60px;
        opacity: 1;
        filter: blur(45px);
        border-radius: 20px;
        bottom: 70px;
    }
    /* auth registration form */
    .registration-form.registration-form-signin, .input-popup-bg {
        border-radius: 44px;
    }
    #popup7 .popup, #popup8 .popup, #popup9 .popup, #popup10 .popup {
        margin: 18% auto 0px;
    }
    .popup-auth-input-email, .popup-auth-input-password, .popup-auth-button, .popup-error-p, .popup-recover-password {
        width: 446px;
    }
    .auth-registration-form .popup-error-p {
        margin: 0 auto;
    }
    .popup-recover-password {
        padding: 15px 31px 58px 0;
        margin: 0 auto;
        float: none;
    }
    .popup-auth-button {
        margin: 0 auto 48px;
    }
    /* new account form */
    .new-account-title {
        margin: 82px auto 64px;
        width: 446px;
    }
    .hide-99 {
        display: none;
    }
    .header-content-icon .about-user-icon {
        width: 154px;
        height: 48px;
        margin-left: 60px;
    }
    .header-content-icon a {
        padding-right: 16px;
        margin-bottom: 12px;
    }
}

@media only screen and (max-width: 730px) {
    /* auth registration form */
    .input-popup-bg {
        background-image: none;
    }
    .registration-form-signin, .auth-registration-form {
        background-color: white;
        border: 3px solid #F5F5F5;
    }
    .popup-registration-title {
        padding: 0;
        margin: 128px auto 72px;
    }
    .auth-registration-form {
        margin: 0 auto;
    }
    .popup-auth-input-email, .popup-auth-input-password, .popup-auth-button, .popup-error-p, .popup-recover-password {
        width: 84%;
    }
    /* forgot pass registration form  */
    .registration-form.registration-form-signin, .input-popup-bg {
        width: 99%;
        height: 100%;
    }
    .registration-form-signin .registration-header-title {
        padding-top: 72px;
    }
    .registration-form-forgotpas img {
        margin: 82px auto 31px;
    }
    .registration-form-forgotpas {
        margin: 0 auto;
    }
    #popup7 .popup, #popup8 .popup, #popup9 .popup, #popup10 .popup {
        width: 100%;
    }
    /* new pass registration form */
    .pwd-input-password, .pwd-repeat-input-password {
        width: 446px;
    }
    /* new account form */
    .new-account-title {
        margin: 82px auto 64px;
        width: 446px;
    }
    .new-password-form label {
        display: block;
        text-align: left;
        width: 437px;
        margin: 0 auto 20px;
        font-family: 'FiraGo Medium';
        font-size: 16px;
        line-height: 14px;
    }
}

@media screen and (max-width: 700px) {
    .popup {
        width: 90%;
        height: 50%;
    }
    /* changed pass registration form */
    .password-changed .password-changed-title {
        width: 100%;
        font-size: 20px;
        line-height: 26px;
    }
}

@media only screen and (max-width: 687.98px) {
    .container-two {
        max-width: 500px;
    }
    .instruction-cont-item p {
        font-size: 14px;
    }
    .instruction-cont-item span {
        font-size: 14px;
    }
    .section-about-project {
        margin: 235px auto 0;
    }
    .instruction-video::after {
        bottom: 85px;
    }
    .registration-form.registration-form-signin, .input-popup-bg {
        border-radius: 28px;
    }
}

@media only screen and (max-width: 600.98px) {
    .success-registred-title {
        font-size: 24px;
        line-height: 26px;
        margin: 0 auto 28px;
        width: 100%;
    }
}

@media only screen and (max-width: 545.98px) {
    .section-about-project {
        margin: 218px auto 0;
    }
    .instruction-video::after {
        bottom: 90px;
    }
    /* registration form */
    .registration-form-signin .auth-input-email, .registration-form-signin .auth-input-password, .registration-form-signin .pwd-input-password, .registration-form-signin .pwd-repeat-input-password, .registration-form-signin .error-p, .registration-form-signin .recover-password, .registration-form-signin .input-button {
        width: 318px;
        height: 64px;
    }
    .registration-form.registration-form-signin, .input-popup-bg {
        height: 100%;
    }
    .first-forgot-pass p {
        width: 328px;
    }
    .forgot-input-email input[type='email'] {
        padding: 17px 20px;
    }
    /* new pass registration form */
    .pwd-input-password input[type=password], .pwd-repeat-input-password input[type=password] {
        width: 248px;
        padding: 18px 20px;
    }
    .new-password-title {
        font-size: 20px;
        line-height: 26px;
    }
    .new-password-form label {
        width: 318px;
    }
    /* new account form */
    .new-account-title {
        font-family: 'FiraGO ExtraBold';
        font-size: 20px;
        line-height: 24px;
        margin: 82px auto 58px;
        text-align: center;
        width: 100%;
    }
    .about-header-icons3 .can-toggle label .can-toggle__switch {
        flex: 0 0 318px;
        height: 64px;
        border: 1px solid #E7E8E8;
        border-radius: 14px;
        margin: 0 auto;
    }
    .about-header-icons3 .can-toggle label .can-toggle__switch:after {
        top: 10px;
        left: 10px;
        right: 8px;
        bottom: 7px;
        border-radius: 8px;
        width: 48%;
        height: 42px;
    }
    .about-header-icons3 .can-toggle {
        width: 100%;
        margin: 0 auto;
    }
    ul.list {
        width: 318px;
    }
    /* create accound form */
    .new-account-create-title {
        width: 100%;
        margin: 82px auto 56px;
        text-align: center;
        font-size: 20px;
        line-height: 24px;
    }
    .create-account-input-email input[type=email] {
        padding: 18px 20px;
    }
    .return-continue {
        width: 318px;
        margin: 0 auto;
    }
    .return span {
        display: none;
    }
    .registration-form-new-region .create-account-button {
        width: 246px;
        margin: 0;
    }
    /* create pass */
    .new-password-create-title {
        font-size: 20px;
        line-height: 24px;
        margin: 82px auto 92px;
        text-align: center;
    }
    .checkbox-input-text {
        width: 290px;
        margin-left: 12px;
    }
    .checkbox-input {
        width: 318px;
        margin: 12px auto 92px;
    }
    /* mail approve and success-registred*/
    .mail-approve .mail-approve-button {
        margin: 0 auto;
    }
    .mail-approve-title, .success-registred-title {
        font-size: 20px;
        line-height: 26px;
    }
    .mail-approve-title {
        margin: 0 auto 54px;
    }
    .success-registred-title {
        margin: 0 auto 28px;
        width: 512px;
    }
    .mail-approve-text {
        width: 100%;
    }
}

@media only screen and (max-width: 500.98px) {
    .container-two {
        max-width: 413px;
    }
    .header-content-text-content {
        width: 100%;
        text-align: initial;
    }
    .header-content-text {
        text-align: initial;
        font-size: 36px;
    }
    button.about-project-button {
        padding: 26px 0;
        width: 100%;
        display: block;
    }
    .about-project-button {
        width: 100%;
        display: block;
        padding: 24px 0px;
    }
    .hide3 {
        display: none;
    }
    .appear3 {
        display: initial;
    }
    .for-100 .for-flex h3 {
        font-size: 28px;
        line-height: 32px;
    }
    .Noun-content .grammar-content h3 {
        margin: 0 0 36px;
    }
    .grammar-content h3 {
        margin: 0 0 36px;
    }
    .verb-content .grammar-content h3 {
        margin: 0 0 36px;
    }
    .row.for-100 {
        margin: 0;
    }
    .instruction-video {
        flex: 0 0 auto;
        width: 94%;
    }
    .instruction-cont-item {
        width: 90%;
        margin-bottom: 60px;
    }
    .section-about-project {
        margin: 300px auto 0;
    }
    .instruction-video::after {
        bottom: 102px;
    }
    /* check email registration form*/
    .second-forgot-pass-title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .second-forgot-pass-text {
        font-size: 12px;
        line-height: 18px;
        margin: 0 auto 44px;
        width: 76%;
    }
    /* create pass */
    .new-password-create-title {
        width: 100%;
    }
    /* mail approve and success-registred*/
    .mail-approve .mail-approve-input {
        width: 100%;
        height: 144px;
        flex-direction: column-reverse;
        margin: 0 auto;
    }
    .mail-approve .mail-approve-button {
        margin: 0 auto;
    }
    .mail-approve-title, .success-registred-title {
        font-size: 20px;
        line-height: 26px;
    }
    .mail-approve-title {
        margin: 0 auto 54px;
    }
    .success-registred-title {
        margin: 0 auto 28px;
        width: 100%;
    }
    .mail-approve-text {
        width: 100%;
    }
}

@media only screen and (max-width: 415px) {
    .appear4 {
        display: initial;
    }
    .container-two {
        max-width: 366px;
    }
    .hide2 {
        display: none!important;
    }
    .appear2 {
        display: initial!important;
    }
    .navbar-brand {
        padding-top: 1.3rem;
    }
    .header-content-text-content {
        width: 100%;
        text-align: initial;
    }
    .header-content-text {
        text-align: initial;
    }
    .header-content .for-100 .appear .about-project-button {
        width: 100%;
        display: block;
        padding: 24px 0px;
    }
    .collapse2 ul li a {
        font-size: 20px;
        line-height: 24px;
    }
    .overlay2 .active {
        font-size: 20px;
        line-height: 24px;
    }
    /* .popup .open {
        left: 25px;
    } */
    .popup2 {
        position: initial;
        margin: 215px auto;
    }
    .popup {
        margin: 260px auto 0;
        width: 95%;
        height: 50%;
    }
    .popup .close {
        top: 100%;
        right: 50%;
        margin-right: -25px;
    }
    .overlay2 .close {
        top: 38px;
        right: 52px;
    }
    .popup .open {
        top: 38px;
        left: 28px;
    }
    /* .overlay2 .close {
        top: 28px;
        right: 52px;
    }
    .popup .open {
        top: 28px;
        left: 28px;
    }
    .popup {
        margin: 120px auto 0;
    } */
    /* .conf-user {
        margin-top: 0;
    } */
    .grammar-gray-bg, .grammar-gray-bg-two {
        background-color: #F8F7F2;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        width: 100%;
        height: 943px;
    }
    .grammar-gray-bg-two {
        height: 1130px;
    }
    .grammar-white-bg {
        background-color: #ffffff;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        width: 100%;
        height: 750px;
    }
    .grammar-content-button {
        background-color: transparent;
    }
    .img-adjective, .img-verb, .img-noun {
        display: none;
    }
    .img-adjective-small, .img-verb-small, .img-noun-small {
        display: inherit;
        margin: 15% auto 0;
    }
    .adjective-content {
        margin-top: -200px;
    }
    .Noun-content .grammar-content h3 {
        margin: 0 0 24px;
    }
    .grammar-content h3 {
        margin: 0 0 24px;
    }
    .verb-content .grammar-content h3 {
        margin: 0 0 24px;
    }
    .verb-content {
        margin: 90px auto -228px;
    }
    .section-about-project {
        margin: 255px auto 0;
    }
    .section-about-project h3 {
        font-size: 28px;
    }
    .instruction-video::after {
        bottom: 120px;
    }
    .for-100 .for-flex h3 {
        font-size: 28px;
    }
    .grammar-content-button {
        height: initial;
    }
    .grammar-content-button {
        padding: 20px 0;
        width: 100%;
    }
    .grammar-content p {
        margin-bottom: 44px;
    }
    .auth-input-email, .auth-input-password, .auth-button {
        width: 74%;
    }
    .register-sect .registration-header-title {
        font-size: 16px;
    }
    .auth-button {
        margin: 25px auto 25px;
        height: initial;
        padding: 18px 0;
    }
    .instruction-cont-item {
        margin-bottom: 70px;
    }
    .footer-buttons {
        display: block;
    }
    .footer-user-icon, .footer-facebook-icon {
        background-color: #333333;
        width: 100%;
        margin: 5px auto;
    }
    button.about-project-button {
        padding: 26px 0;
        width: 100%;
        display: block;
    }
    .footer-user-icon, .footer-facebook-icon {
        width: 157px;
    }
    /* auth registration form  */
    .auth-registration-form {
        width: 366px;
        height: 498px;
    }
    .popup-registration-title {
        font-family: 'FiraGO ExtraBold';
        font-size: 20px;
        line-height: 24px;
        margin: 60px auto 48px;
    }
    .popup-auth-input-email, .popup-auth-input-password, .popup-auth-button, .popup-error-p, .popup-recover-password {
        width: 90%;
    }
    .popup-auth-input-email input[type=email], .popup-auth-input-password input[type=password] {
        padding: 17px 20px;
    }
    .popup-auth-input-email, .popup-auth-input-password {
        height: 60px;
    }
    .popup-auth-input-password {
        margin: 0 auto 16px;
    }
    .popup-auth-button {
        margin: 0 auto 28px;
        padding: 0;
        height: 64px;
    }
    .popup-recover-password {
        padding: 15px 31px 28px 0;
    }
    /* forgot pass registration form  */
    .registration-form.registration-form-signin, .input-popup-bg {
        height: 522px;
        border-radius: 28px;
    }
    .registration-form-forgotpas img {
        width: 127px;
        height: 127px;
        margin: 40px auto 20px;
    }
    .first-forgot-pass h3 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 24px;
    }
    .first-forgot-pass p {
        font-size: 12px;
        line-height: 18px;
        margin: 0 auto 32px;
    }
    #popup7 .popup, #popup8 .popup, #popup9 .popup, #popup10 .popup {
        margin: 25% auto 0px;
        height: 630px;
    }
    #popup7 .popup {
        margin: 25% auto 0px;
        height: 610px;
    }
    .registration-form-signin .auth-input-email, .registration-form-signin .auth-input-password, .registration-form-signin .error-p, .registration-form-signin .recover-password, .registration-form-signin .input-button {
        margin: 0 auto 28px;
    }
    #popup7 .popup .close, #popup8 .popup .close, #popup9 .popup .close, #popup10 .popup .close {
        top: initial;
        right: 46%;
        left: 46%;
        bottom: 14px;
    }
    .registration-form-signin .input-button {
        font-size: 14px;
    }
    /* check email registration form*/
    .second-forgot-pass img {
        margin: 52px auto 21px;
    }
    .second-forgot-pass-title {
        width: 230px;
        margin: 0 auto 20px;
    }
    .second-forgot-pass-text {
        width: 258px;
    }
    .second-forgot-pass-input {
        margin: 0 auto 40px;
    }
    /* new pass registration form */
    .pwd-input-password input[type=password], .pwd-repeat-input-password input[type=password] {
        width: 248px;
        padding: 18px 20px;
    }
    .new-password-title {
        font-size: 20px;
        line-height: 26px;
        margin: 60px auto 40px;
    }
    .new-password-form label {
        width: 318px;
        font-size: 14px;
        line-height: 14px;
        margin: 0 auto 12px;
    }
    .pwd-input-password {
        margin-bottom: 24px;
    }
    .pwd-repeat-input-password {
        margin-bottom: 36px;
    }
    /* changed pass registration form */
    .password-changed img {
        width: 96px;
        height: 114px;
        margin: 72px auto 48px;
    }
    .password-changed .password-changed-title {
        margin: 0 auto 20px;
    }
    .password-changed-text {
        width: 80%;
        font-size: 12px;
        line-height: 18px;
        margin: 0 auto 48px;
    }
    /* new account form */
    .new-account-title {
        font-family: 'FiraGO ExtraBold';
        font-size: 20px;
        line-height: 24px;
        margin: 82px auto 58px;
        text-align: center;
        width: 100%;
        margin: 52px auto 44px;
    }
    #popup10 .popup {
        margin: 15% auto 0px;
        height: 630px;
    }
    .registration-form-signin.registration-form-new-region, .input-popup-bg {
        height: 601px;
    }
    .about-header-icons3 {
        margin-bottom: 44px;
    }
    #popup10 .popup .close {
        bottom: -66px;
    }
    /* create accound form */
    .new-account-create-title {
        margin: 52px auto 44px;
    }
    .return-continue {
        height: 64px;
    }
    /* create pass */
    .new-password-create-title {
        width: 100%;
        font-size: 20px;
        line-height: 24px;
        margin: 52px auto 44px;
        text-align: center;
    }
    .checkbox-input-text {
        width: 290px;
        margin-left: 12px;
    }
    .checkbox-input {
        width: 318px;
        margin: 44px auto 69px;
    }
    /* mail approve and success-registred*/
    .mail-approve .mail-approve-img {
        width: 96px;
        margin: 56px auto 18px;
    }
    .success-registred-img {
        width: 116px;
        margin: 72px auto 18px;
    }
    .mail-approve .mail-approve-input {
        width: 100%;
        height: 120px;
        flex-direction: column-reverse;
        margin: 0 auto;
    }
    .mail-approve .mail-approve-button {
        margin: 0 auto;
    }
    .mail-approve-title, .success-registred-title {
        font-size: 20px;
        line-height: 26px;
    }
    .mail-approve-title {
        width: 100%;
        margin: 0 auto 28px;
    }
    .success-registred-title {
        margin: 0 auto 28px;
        width: 100%;
    }
    .mail-approve-text {
        width: 94%;
        margin: 0 auto 38px;
    }
    .success-registred-text {
        margin: 0 auto 48px;
    }
}
@media only screen and (min-height: 700px)   {
    .popup {
        margin: 200px auto 0;
        width: 95%;
        height: 50%;
    }
    .conf-user {
        margin-top: 0;
    }
    .collapse2 {
        text-align: center;
        margin: 0 auto 50px;
    }
}
@media only screen and (min-height: 896px)   {
    .popup {
        margin: 80% auto 0;
        width: 95%;
        height: 50%;
    }
    .conf-user {
        margin-top: 0;
    }
    .collapse2 {
        text-align: center;
        margin: 0 auto 35%;
    }
}

@media only screen and (max-width: 400px) {
    .registration-form-signin .auth-input-email, .registration-form-signin .auth-input-password, .registration-form-signin .pwd-input-password, .registration-form-signin .pwd-repeat-input-password, .new-password-form label, .registration-form-signin .error-p, .registration-form-signin .recover-password, .registration-form-signin .input-button {
        width: 240px;
    }
    .first-forgot-pass p {
        width: 260px;
    }
    /* new pass registration form */
    .pwd-input-password input[type=password], .pwd-repeat-input-password input[type=password] {
        width: 180px;
        padding: 18px 20px;
    }
    /* new account form */
    .new-region-title {
        font-size: 16px;
        line-height: 19.2px;
    }
    .about-header-icons3 .can-toggle label .can-toggle__switch {
        flex: 0 0 240px;
    }
    .registration-form-new-region .rem-back-img {
        width: 250px;
    }
    ul.list {
        width: 246px;
    }
    .new-region .pwd-repeat-input-password {
        width: 240px;
    }
    ul.list label {
        padding: 10px 0 10px 12px;
    }
    /* create accound form */
    .new-account-create-title {
        font-size: 16px;
        line-height: 19.2px;
    }
    .return-continue {
        width: 248px;
    }
    /* create pass */
    .new-password-create-title {
        font-size: 16px;
        line-height: 19.2px;
    }
    .checkbox-input {
        width: 248px;
        margin: 44px auto 59px;
    }
    .checkbox-input-text {
        width: 210px;
    }
}

@media only screen and (max-width: 360px) {
    .header-content .for-100 .appear .about-project-button {
        margin: 48px auto 46px;
    }
    .footer-user-icon, .footer-facebook-icon {
        width: 100%;
    }
    .section-about-project {
        margin: 215px auto 0;
    }
    .instruction-video::after {
        bottom: 125px;
    }
    .grammar-content p {
        margin-bottom: 24px;
    }
    .verb-content {
        margin: 90px auto -248px;
    }
    /* new pass registration form */
    .new-password-title {
        font-size: 16px;
        line-height: 20.8px;
    }
    /* changed pass registration form */
    .password-changed .password-changed-title {
        font-size: 16px;
        line-height: 20.8px;
    }
    .password-changed-text {
        width: 85%;
    }
}

@media only screen and (max-width: 320.98px) {
    
    /* index style */
    .overlay2 .close {
        top: 28px;
        right: 52px;
    }
    .popup .open {
        top: 28px;
        left: 28px;
    }
    .popup {
        margin: 120px auto 0;
    }
    .conf-user {
        margin-top: 0;
    }
    /* auth registration form  */
    .auth-registration-form {
        width: 280px;
        height: 414px;
    }
    .popup-registration-title {
        font-family: 'FiraGO ExtraBold';
        font-size: 16px;
        line-height: 19.2px;
        margin: 40px auto 28px;
    }
    .popup-auth-input-email, .popup-auth-input-password, .popup-auth-button, .popup-error-p, .popup-recover-password {
        width: 90%;
    }
    .popup-auth-input-email input[type=email], .popup-auth-input-password input[type=password] {
        padding: 17px 20px;
    }
    .popup-auth-input-email, .popup-auth-input-password {
        height: 60px;
    }
    .popup-auth-input-email {
        margin: 0 auto 12px;
    }
    .popup-auth-input-password {
        margin: 0 auto 5px;
    }
    .popup-auth-button {
        margin: 0 auto 24px;
        padding: 0;
        height: 52px;
    }
    .popup-recover-password {
        font-size: 12px;
        line-height: 14px;
        padding: 15px 0 24px 0;
        text-decoration: underline;
    }
    .popup-error-p {
        font-size: 12px;
        line-height: 14px;
    }
    #popup7 .popup .close, #popup8 .popup .close, #popup9 .popup .close, #popup10 .popup .close {
        top: initial;
        right: 46%;
        left: 46%;
        bottom: 14px;
    }
    /* forgot pass registration form  */
    .registration-form.registration-form-signin, .input-popup-bg {
        height: 439px;
    }
    .registration-form-forgotpas img {
        width: 96px;
        height: 96px;
        margin: 32px auto 5px;
    }
    .first-forgot-pass h3 {
        font-size: 16px;
        line-height: 20.8px;
        margin-bottom: 16px;
    }
    .first-forgot-pass p {
        font-size: 12px;
        line-height: 18px;
        margin: 0 auto 24px;
    }
    #popup7 .popup, #popup8 .popup, #popup9 .popup, #popup10 .popup {
        margin: 28px auto 0px;
        height: 519px;
    }
    .registration-form-signin .auth-input-email, .registration-form-signin .auth-input-password, .registration-form-signin .error-p, .registration-form-signin .recover-password, .registration-form-signin .input-button {
        margin: 0 auto 16px;
    }
    .registration-form.registration-form-signin, .input-popup-bg {
        height: 416px;
        border-radius: 22px;
    }
    .registration-form-signin, .auth-registration-form {
        border-radius: 22px;
    }
    /* check email registration form*/
    .second-forgot-pass img {
        margin: 32px auto 12px;
    }
    .second-forgot-pass-title {
        width: 160px;
        font-size: 16px;
        line-height: 20.8px;
        margin: 0 auto 16px;
    }
    .second-forgot-pass-text {
        width: 240px;
        margin: 0 auto 28px;
    }
    .second-forgot-pass-input {
        margin: 0 auto 28px;
    }
    /* new pass registration form */
    .registration-form.registration-form-signin.new-pass-registr-form {
        height: 434px;
        border-radius: 22px;
    }
    #popup9 .popup {
        margin: 28px auto 0px;
        height: 534px;
    }
    .new-password-title {
        margin: 44px auto 28px;
    }
    .pwd-input-password {
        margin-bottom: 20px;
    }
    .pwd-repeat-input-password {
        margin-bottom: 18px;
    }
    .pwd-input-password, .pwd-repeat-input-password {
        width: 247px;
        height: 60px;
    }
    .new-password-form label {
        width: 247px;
    }
    .new-password button {
        width: 247px;
        height: 52px;
    }
    /* changed pass registration form */
    .password-changed img {
        width: 72px;
        height: 90px;
        margin: 48px auto 32px;
    }
    .password-changed .password-changed-title {
        margin: 0 auto 16px;
    }
    .password-changed-text {
        font-size: 12px;
        line-height: 18px;
        margin: 0 auto 32px;
    }
    .password-changed .pass-changed-button {
        height: 52px;
    }
    /* new account form */
    .new-region-title {
        font-size: 16px;
        line-height: 19.2px;
        margin: 40px auto 34px;
    }
    .registration-form-signin.registration-form-new-region, .input-popup-bg {
        height: 536px;
    }
    .registration-form-signin.registration-form-new-region .new-region-button {
        height: 52px;
        padding: 15px 0;
    }
    .registration-form-new-region .about-header-icons3 .can-toggle, .registration-form-new-region .new-region-button {
        width: 244px;
    }
    .registration-form-new-region .rem-back-img {
        width: 248px;
        margin-bottom: 26px;
    }
    .registration-form-signin.registration-form-new-region .new-password-form label {
        width: 243px;
    }
    .about-header-icons3 .can-toggle label .can-toggle__switch {
        flex: 0 0 244px;
    }
    .new-region .pwd-repeat-input-password {
        width: 244px;
        margin-bottom: 26px;
    }
    .about-header-icons3 {
        margin-bottom: 34px;
    }
    ul.list {
        width: 246px;
        max-height: 324px;
        padding: 11px 0 0 0;
    }
    ul.list label {
        padding: 10px 0 10px 12px;
    }
    summary:after {
        width: 10px;
        height: 10px;
        border-bottom: 2px solid #130F26;
        border-left: 2px solid #130F26;
    }
    #popup10 .popup .close {
        top: initial;
        right: 44%;
        left: 44%;
        bottom: -104px;
    }
    /* create accound form */
    .new-account-create-title {
        font-size: 16px;
        line-height: 19.2px;
        margin: 38px auto 30px;
    }
    .name-fields .input-password {
        height: 60px;
    }
    .name-fields .create-account-input {
        margin-bottom: 20px;
    }
    .name-fields .create-account-input-email {
        margin: 0 auto 24px;
    }
    .return-continue {
        width: 248px;
        flex-direction: column-reverse;
        height: 78px;
        margin-top: 40px;
    }
    .return-continue .create-account-button {
        margin: 12px auto 12px;
    }
    .return img {
        margin: 3px 8px 0px 0px;
    }
    .return {
        margin: 0 auto;
    }
    .return span {
        display: initial;
    }
    /* create pass */
    .new-password-create-title {
        margin: 40px auto 32px;
    }
    .create-password .return-continue {
        height: 92px;
        margin-top: 0;
    }
    .create-pass-button {
        border-radius: 14px;
    }
    .checkbox-input {
        margin: 28px auto 28px;
    }
    /* mail approve and success-registred*/
    .mail-approve .mail-approve-img {
        width: 96px;
        margin: 46px auto 28px;
    }
    .success-registred-img {
        width: 100px;
        margin: 84px auto 28px;
    }
    .mail-approve .mail-approve-input {
        width: 100%;
        height: 120px;
        flex-direction: column-reverse;
        margin: 0 auto;
    }
    .mail-approve .mail-approve-button {
        margin: 0 auto;
    }
    .mail-approve-title, .success-registred-title {
        font-size: 16px;
        line-height: 20.8px;
    }
    .mail-approve-title {
        margin: 0 auto 26px;
    }
    .success-registred-title {
        margin: 0 auto 28px;
    }
    .mail-approve-text {
        width: 94%;
        margin: 0 auto 34px;
    }
    .hide-mail-approve {
        display: none;
    }
    .appear-mail-approve {
        display: initial;
    }
}