/* button style */

/* button video */

.button-video {
    width: 158px;
    height: 56px;
    background: #00CC6F;
    border-radius: 28px;
}

.button-video p {
    font-size: 12px;
    line-height: 14px;
    font-family: FiraGo Medium;
    color: #ffffff;
    align-items: center;
    margin: 21px 0 21px 23px;
}

.button-video img {
    display: inline-block;
    vertical-align: middle;
    margin: 6px 6px 6px 12px;
}

/* end button */

/* input button */

.input-button {
    display: block;
    width: 384px;
    height: 80px;
    border-radius: 20px;
    color: #ffffff;
    background-color: #00CC6F;
    text-align: center;
    margin: 35px auto 38px;
    font-family: FiraGo Bold;
    font-size: 16px;
    line-height: 16px;
}

/* end input button */

.more-button {
    display: block;
    width: 147px;
    height: 64px;
    border-radius: 20px;
    color: #ffffff;
    background-color: #00CC6F;
    text-align: center;
    margin: 48px auto 0;
    font-family: FiraGo Medium;
    font-size: 16px;
    line-height: 16px;
}

/* button :disabled */

.disabled {
    background-color: #80E5B7;
    cursor: default;
}

.disabled:hover {
    background-color: #80E5B7;
    box-shadow: none;
}

/* grammar button style */

.grammar-button {
    width: 205px;
    height: 68px;
    border: 3px solid #333333;
    border-radius: 16px;
    font-family: 'FiraGo Medium';
    font-size: 16px;
    line-height: 16px;
    color: #333333;
    background-color: #ffffff;
    box-sizing: border-box;
}

.grammar-content-arrow-icon-black {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}

.grammar-disabled {
    background-color: transparent;
    cursor: default;
    color: #999999;
    border-color: #999999;
}

.grammar-disabled:hover {
    background-color: transparent!important;
    color: #999999!important;
    border-color: #999999!important;
}

/* end button style */