@font-face {
    font-family: "FiraGo Bold";
    src: url("./assets/fonts/FiraGO-Bold.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/FiraGO-Bold.eot#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("./assets/fonts/FiraGO-Bold.otf") format("opentype"),
      /* Legacy iOS */ url("./assets/fonts/FiraGO-Bold.ttf") format("truetype"),
      /* Safari, Android, iOS */
      url("./assets/fonts/FiraGO-Bold.woff") format("woff"),
      /* Modern Browsers */ 
      url("./assets/fonts/FiraGO-Bold.woff2") format("woff2"); /* Modern Browsers */
      font-weight: 700;
      letter-spacing: 0.2px;
      font-style: normal;
  }
@font-face {
    font-family: "FiraGo Book";
    src: url("./assets/fonts/FiraGO-Book.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/FiraGO-Book.eot#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("./assets/fonts/FiraGO-Book.otf") format("opentype"),
      /* Legacy iOS */ url("./assets/fonts/FiraGO-Book.ttf") format("truetype"),
      /* Safari, Android, iOS */
      url("./assets/fonts/FiraGO-Book.woff") format("woff"),
      /* Modern Browsers */ 
      url("./assets/fonts/FiraGO-Light.woff2") format("woff2"); /* Modern Browsers */
      font-weight: 300;
      letter-spacing: 0.2px;
      font-style: normal;
}
@font-face {
    font-family: "FiraGo ExtraBold";
    src: url("./assets/fonts/FiraGO-ExtraBold.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/FiraGO-ExtraBold.eot#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("./assets/fonts/FiraGO-ExtraBold.otf") format("opentype"),
      /* Legacy iOS */ url("./assets/fonts/FiraGO-ExtraBold.ttf") format("truetype"),
      /* Safari, Android, iOS */
      url("./assets/fonts/FiraGO-ExtraBold.woff") format("woff"),
      /* Modern Browsers */ 
      url("./assets/fonts/FiraGO-ExtraBold.woff2") format("woff2"); /* Modern Browsers */
      font-weight: 800;
      letter-spacing: 0.2px;
      font-style: normal;
}
@font-face {
    font-family: "FiraGo Light";
    src: url("./assets/fonts/FiraGO-Light.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/FiraGO-Light.eot#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("./assets/fonts/FiraGO-Light.otf") format("opentype"),
      /* Legacy iOS */ url("./assets/fonts/FiraGO-Light.ttf") format("truetype"),
      /* Safari, Android, iOS */
      url("./assets/fonts/FiraGO-Light.woff") format("woff"),
      /* Modern Browsers */ 
      url("./assets/fonts/FiraGO-Light.woff2") format("woff2"); /* Modern Browsers */
      font-weight: 200;
      letter-spacing: 0.2px;
      font-style: normal;
}
@font-face {
    font-family: "FiraGo Medium";
    src: url("./assets/fonts/FiraGO-Medium.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/FiraGO-Medium.eot#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("./assets/fonts/FiraGO-Medium.otf") format("opentype"),
      /* Legacy iOS */ url("./assets/fonts/FiraGO-Medium.ttf") format("truetype"),
      /* Safari, Android, iOS */
      url("./assets/fonts/FiraGO-Medium.woff") format("woff"),
      /* Modern Browsers */ 
      url("./assets/fonts/FiraGO-Medium.woff2") format("woff2"); /* Modern Browsers */
      font-weight: 500;
      letter-spacing: 0.2px;
      font-style: normal;
}
@font-face {
    font-family: "FiraGo";
    src: url("./assets/fonts/FiraGO-Regular.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/FiraGO-Regular.eot#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("./assets/fonts/FiraGO-Regular.otf") format("opentype"),
      /* Legacy iOS */ url("./assets/fonts/FiraGO-Regular.ttf") format("truetype"),
      /* Safari, Android, iOS */
      url("./assets/fonts/FiraGO-Regular.woff") format("woff"),
      /* Modern Browsers */ 
      url("./assets/fonts/FiraGO-Regular.woff2") format("woff2"); /* Modern Browsers */
      font-weight: 400;
      letter-spacing: 0.2px;
      font-style: normal;
}
@font-face {
    font-family: "FiraGo SemiBold";
    src: url("./assets/fonts/FiraGO-SemiBold.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/FiraGO-SemiBold.eot#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("./assets/fonts/FiraGO-SemiBold.otf") format("opentype"),
      /* Legacy iOS */ url("./assets/fonts/FiraGO-SemiBold.ttf") format("truetype"),
      /* Safari, Android, iOS */
      url("./assets/fonts/FiraGO-SemiBold.woff") format("woff"),
      /* Modern Browsers */ 
      url("./assets/fonts/FiraGO-SemiBold.woff2") format("woff2"); /* Modern Browsers */
      font-weight: 600;
      letter-spacing: 0.2px;
      font-style: normal;
}